# Tower Of Hanoi (Recursive)

In [1]:
#function to print path

def printMoves(n, start, end):
    print("Move disk {} from {} to {}".format(n, start, end))

In [2]:
#recursive toh function that prints disk movement

def toh(rods, src, dest, aux):
    if rods==1:
        print("Move disk 1 from {} to {}".format(src, dest))
    else:
        toh(rods-1, src, aux, dest)
        printMoves(rods, src, dest)
        toh(rods-1, aux, dest, src)

In [3]:
#recursive toh function to count disk movement (does not print movement)

def tohCountMoves(rods, src, dest, aux):
    moves = 1
    if rods==1:
        return moves
    else:
        moves += tohCountMoves(rods-1, src, aux, dest)
        moves += tohCountMoves(rods-1, aux, dest, src)
    return moves

In [4]:
#print disk movement for upto 5 disks

for x in range(1,6):
    print("For {} disk/disks, the output is as follows: \n".format(x))
    toh(x, 'A', 'B', 'C')
    print("---------------------------------------------------------------------------")

For 1 disk/disks, the output is as follows:

Move disk 1 from A to B
---------------------------------------------------------------------------
For 2 disk/disks, the output is as follows:

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
---------------------------------------------------------------------------
For 3 disk/disks, the output is as follows:

Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C
Move disk 3 from A to B
Move disk 1 from C to A
Move disk 2 from C to B
Move disk 1 from A to B
---------------------------------------------------------------------------
For 4 disk/disks, the output is as follows:

Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
Move disk 3 from A to C
Move disk 1 from B to A
Move disk 2 from B to C
Move disk 1 from A to C
Move disk 4 from A to B
Move disk 1 from C to B
Move disk 2 from C to A
Move disk 1 from B to A
Move disk 3 from C to B
Move disk 1 from A to C
Move disk 2 from A to B
Move disk 1 from C to B
---------------------------------------------------------------------------
For 5 disk/disks, the output is as follows:

Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C
Move disk 3 from A to B
Move disk 1 from C to A
Move disk 2 from C to B
Move disk 1 from A to B
Move disk 4 from A to C
Move disk 1 from B to C
Move disk 2 from B to A
Move disk 1 from C to A
Move disk 3 from B to C
Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C
Move disk 5 from A to B
Move disk 1 from C to A
Move disk 2 from C to B
Move disk 1 from A to B
Move disk 3 from C to A
Move disk 1 from B to C
Move disk 2 from B to A
Move disk 1 from C to A
Move disk 4 from C to B
Move disk 1 from A to B
Move disk 2 from A to C
Move disk 1 from B to C
Move disk 3 from A to B
Move disk 1 from C to A
Move disk 2 from C to B
Move disk 1 from A to B
---------------------------------------------------------------------------

In [5]:
import timeit
import pandas as pd

In [6]:
#get total moves and total time taken by toh function for upto 15 disks

d = []
for x in range(1,16):
    nMove = tohCountMoves(x, 'A','B','C')
    time = timeit.Timer(lambda: tohCountMoves(x, 'A','B','C'))
    calc = (2**x)-1
    d.append([x, nMove, calc, time.timeit(5)])

data = pd.DataFrame(d, columns=['No. of disks','No. of moves','2^N-1','Time Taken'])
data

    No. of disks  No. of moves  2^N-1  Time Taken
0              1             1      1    0.000006
1              2             3      3    0.000009
2              3             7      7    0.000017
3              4            15     15    0.000050
4              5            31     31    0.000113
5              6            63     63    0.000181
6              7           127    127    0.000311
7              8           255    255    0.000479
8              9           511    511    0.000970
9             10          1023   1023    0.001914
10            11          2047   2047    0.004997
11            12          4095   4095    0.010198
12            13          8191   8191    0.025249
13            14         16383  16383    0.034247
14            15         32767  32767    0.080396